
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Yarndings+20&display=swap');

p, li {
    color: #5372a2; 
    font-family: monospace;
}



h1, h2, h3 {
    font-family: "Space Grotesk";
}

/* CSS VARIABLES let us OVERRIDE the Bootstrap color palette:
* primary, secondary, success, danger, warning, info, light, dark
*/
:root {
  --bs-primary: rgb(21, 94, 131) !important;
  --bs-primary-rgb: 21, 94, 131 !important;
  --bs-primary-bg: rgb(68, 90, 233) !important;
  --bs-primary-bg-subtle: rgb(15, 38, 79) !important;

}
#Raphael {
    color: aliceblue;
    padding: 10px;
}